catalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ============================================================
    XSD - XML Schema Definition
    File:    catalogo.xsd
    Scopo:   Validazione tipizzata e con vincoli del catalogo film
    Progetto: Piattaforma Streaming

    L'XSD estende la DTD aggiungendo:
    - Tipi di dato precisi (intero, decimale, URI...)
    - Vincoli sui valori (valutazione 0-5, anno >= 1888...)
    - Lunghezze min/max sulle stringhe
    - Pattern (espressioni regolari) per i formati
    - Unicità garantita su più campi contemporaneamente
    ============================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ===========================================================
         TIPI SEMPLICI RIUTILIZZABILI
         Definiti una volta e usati in più punti dello schema.
    =========================================================== -->

    <!--
        ValutazioneType
        La valutazione è un numero decimale compreso tra 0.0 e 5.0.
        fractionDigits="1" = al massimo 1 cifra dopo la virgola.
        Esempi validi: 0.0, 2.5, 4.8, 5.0
        Esempi NON validi: -1, 5.1, 4.85
    -->
    <xs:simpleType name="ValutazioneType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>   <!-- valore minimo incluso: 0.0 -->
            <xs:maxInclusive value="5.0"/>   <!-- valore massimo incluso: 5.0 -->
            <xs:fractionDigits value="1"/>   <!-- massimo 1 cifra decimale -->
        </xs:restriction>
    </xs:simpleType>

    <!--
        AnnoType
        L'anno deve essere un intero compreso tra 1888 e 2100.
        1888 = anno del primo film della storia (Roundhay Garden Scene).
        2100 = limite superiore ragionevole per film futuri.
    -->
    <xs:simpleType name="AnnoType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1888"/>  <!-- primo film della storia -->
            <xs:maxInclusive value="2100"/>  <!-- limite futuro ragionevole -->
        </xs:restriction>
    </xs:simpleType>

    <!--
        DurataType
        La durata in minuti deve essere un intero tra 1 e 600.
        600 minuti = 10 ore, limite per i film più lunghi mai realizzati.
    -->
    <xs:simpleType name="DurataType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>     <!-- almeno 1 minuto -->
            <xs:maxInclusive value="600"/>   <!-- massimo 10 ore -->
        </xs:restriction>
    </xs:simpleType>

    <!--
        RuoloType
        Enumerazione dei soli tre valori accettati per il ruolo di un attore.
        Qualsiasi altro valore causerà un errore di validazione.
    -->
    <xs:simpleType name="RuoloType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="protagonista"/> <!-- ruolo principale -->
            <xs:enumeration value="secondario"/>   <!-- ruolo di supporto -->
            <xs:enumeration value="comparsa"/>     <!-- apparizione breve -->
        </xs:restriction>
    </xs:simpleType>

    <!--
        ClassificazioneType
        Enumerazione delle classificazioni per età ammesse.
        Comprende sia le classificazioni USA (G, PG, PG-13, R, NC-17)
        sia quelle italiane (VM14, VM18) e NR (non classificato).
    -->
    <xs:simpleType name="ClassificazioneType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="G"/>      <!-- per tutti i pubblici -->
            <xs:enumeration value="PG"/>     <!-- guida genitoriale suggerita -->
            <xs:enumeration value="PG-13"/>  <!-- sconsigliato sotto i 13 anni -->
            <xs:enumeration value="R"/>      <!-- vietato ai minori di 17 senza adulto -->
            <xs:enumeration value="NC-17"/>  <!-- solo adulti -->
            <xs:enumeration value="NR"/>     <!-- non classificato -->
            <xs:enumeration value="VM14"/>   <!-- vietato minori di 14 anni (Italia) -->
            <xs:enumeration value="VM18"/>   <!-- vietato minori di 18 anni (Italia) -->
        </xs:restriction>
    </xs:simpleType>

    <!--
        FilmIdType
        Il pattern "F[0-9]{2}" impone il formato esatto dell'ID film:
        - Lettera F maiuscola
        - Seguita da esattamente 2 cifre (0-9)
        Esempi validi:   F01, F02, F99
        Esempi NON validi: F1, f01, F001, FILM01
        Estende xs:ID che garantisce l'unicità nel documento.
    -->
    <xs:simpleType name="FilmIdType">
        <xs:restriction base="xs:ID">
            <xs:pattern value="F[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        TitoloType
        Il titolo deve essere una stringa tra 1 e 200 caratteri.
        Impedisce titoli vuoti (minLength=1) o eccessivamente lunghi.
    -->
    <xs:simpleType name="TitoloType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>    <!-- il titolo non può essere vuoto -->
            <xs:maxLength value="200"/>  <!-- massimo 200 caratteri -->
        </xs:restriction>
    </xs:simpleType>

    <!-- ===========================================================
         TIPI COMPLESSI
         Descrivono elementi che contengono altri elementi o attributi.
    =========================================================== -->

    <!--
        AttoreType
        Un attore è un elemento di testo (il nome) con un attributo "ruolo".
        xs:simpleContent + xs:extension = elemento testuale con attributi aggiuntivi.
        base="xs:string" = il testo dell'elemento è una stringa.
    -->
    <xs:complexType name="AttoreType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <!-- l'attributo ruolo usa il tipo enumerato RuoloType, è obbligatorio -->
                <xs:attribute name="ruolo" type="RuoloType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!--
        AttoriType
        Il contenitore "attori" ha una sequenza di uno o più "attore".
        minOccurs="1" = almeno un attore obbligatorio.
        maxOccurs="unbounded" = nessun limite massimo al numero di attori.
    -->
    <xs:complexType name="AttoriType">
        <xs:sequence>
            <xs:element name="attore" type="AttoreType"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        FilmType
        Struttura completa di un singolo film con tutti i suoi campi.
        xs:sequence = gli elementi devono apparire nell'ordine indicato.
        Tutti gli elementi sono obbligatori (minOccurs default = 1).
    -->
    <xs:complexType name="FilmType">
        <xs:sequence>

            <!-- titolo: stringa 1-200 caratteri -->
            <xs:element name="titolo"       type="TitoloType"/>

            <!-- anno: intero 1888-2100 -->
            <xs:element name="anno"         type="AnnoType"/>

            <!-- genere: stringa libera, nessun vincolo sulla lunghezza -->
            <xs:element name="genere"       type="xs:string"/>

            <!-- durata: intero in minuti, 1-600 -->
            <xs:element name="durata"       type="DurataType"/>

            <!-- valutazione: decimale 0.0-5.0 con 1 decimale -->
            <xs:element name="valutazione"  type="ValutazioneType"/>

            <!-- trama: stringa tra 10 e 1000 caratteri -->
            <xs:element name="trama">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="10"/>   <!-- trama non può essere troppo breve -->
                        <xs:maxLength value="1000"/> <!-- massimo 1000 caratteri -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <!-- regista: stringa libera -->
            <xs:element name="regista"      type="xs:string"/>

            <!-- attori: tipo complesso con uno o più attori -->
            <xs:element name="attori"       type="AttoriType"/>

            <!-- budget: intero non negativo in dollari -->
            <xs:element name="budget">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/> <!-- il budget non può essere negativo -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <!-- incassi: stringa (alcuni film storici hanno formati particolari) -->
            <xs:element name="incassi"          type="xs:string"/>

            <!-- classificazione: solo valori dell'enumerazione ClassificazioneType -->
            <xs:element name="classificazione"  type="ClassificazioneType"/>

            <!-- trailer: URI valido (es. https://www.youtube.com/...) -->
            <xs:element name="trailer"          type="xs:anyURI"/>

            <!-- poster: URI valido che punta all'immagine su TMDb -->
            <xs:element name="poster"           type="xs:anyURI"/>

            <!-- tmdb_id: intero positivo, ID univoco nel database TMDb -->
            <xs:element name="tmdb_id">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/> <!-- l'ID TMDb parte da 1 -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <!--
                visualizzazioni_totali: intero >= 0
                Parte da 0 e viene incrementato dal PHP
                ogni volta che un utente apre la pagina del film.
            -->
            <xs:element name="visualizzazioni_totali">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/> <!-- non può essere negativo -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

        </xs:sequence>

        <!-- attributo "id": obbligatorio, formato F+2cifre, univoco nel documento -->
        <xs:attribute name="id" type="FilmIdType" use="required"/>

    </xs:complexType>

    <!-- ===========================================================
         ELEMENTO RADICE: catalogo
         Punto di ingresso della validazione XSD.
    =========================================================== -->
    <xs:element name="catalogo">
        <xs:complexType>
            <!-- sequenza di uno o più film -->
            <xs:sequence>
                <xs:element name="film" type="FilmType"
                            minOccurs="1"            <!-- almeno 1 film obbligatorio -->
                            maxOccurs="unbounded"/>   <!-- nessun limite massimo -->
            </xs:sequence>
        </xs:complexType>

        <!--
            VINCOLO DI UNICITÀ: filmIdUnico
            Garantisce che non esistano due film con lo stesso attributo "id".
            xs:selector = punta agli elementi "film" figli di "catalogo".
            xs:field    = indica quale campo deve essere unico (@id = attributo id).
        -->
        <xs:unique name="filmIdUnico">
            <xs:selector xpath="film"/>
            <xs:field    xpath="@id"/>
        </xs:unique>

        <!--
            VINCOLO DI UNICITÀ: tmdbIdUnico
            Garantisce che non esistano due film con lo stesso tmdb_id.
            Previene l'inserimento duplicato dello stesso film preso da TMDb.
        -->
        <xs:unique name="tmdbIdUnico">
            <xs:selector xpath="film"/>
            <xs:field    xpath="tmdb_id"/>
        </xs:unique>

    </xs:element>

</xs:schema>
