xml/utenti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ============================================================
    XSD - XML Schema Definition
    File:    utenti.xsd
    Scopo:   Validazione tipizzata e con vincoli degli utenti
    Progetto: Piattaforma Streaming

    Differenza rispetto alla DTD:
    - Tipi di dato precisi (xs:date, xs:string con pattern...)
    - Vincoli sulla lunghezza dei campi
    - Validazione formato email tramite espressione regolare
    - Validazione formato hash SHA-256 (64 caratteri esadecimali)
    ============================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--
        TIPO SEMPLICE: UtenteIdType
        Definisce il formato accettato per l'attributo "id" degli utenti.
        Il pattern "U[0-9]{2}" significa: lettera U seguita da esattamente 2 cifre.
        Esempi validi: U01, U02, U99
        Estende xs:ID che garantisce l'unicità dell'attributo nel documento.
    -->
    <xs:simpleType name="UtenteIdType">
        <xs:restriction base="xs:ID">
            <xs:pattern value="U[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        TIPO SEMPLICE: EmailType
        Valida il formato base di un indirizzo email tramite espressione regolare.
        Il pattern accetta: caratteri alfanumerici, punti, underscore, trattini
        prima della @, poi un dominio, poi un'estensione di almeno 2 caratteri.
        Esempio valido: sturzi@streaming.com
    -->
    <xs:simpleType name="EmailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        TIPO SEMPLICE: PasswordHashType
        Valida che la password sia salvata come hash SHA-256.
        Un hash SHA-256 è sempre composto da esattamente 64 caratteri esadecimali
        (cifre 0-9 e lettere a-f, sia maiuscole che minuscole).
        Questo garantisce che non vengano mai salvate password in chiaro.
    -->
    <xs:simpleType name="PasswordHashType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-fA-F0-9]{64}"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        TIPO COMPLESSO: UtenteType
        Descrive la struttura completa di un singolo utente.
        "xs:sequence" significa che gli elementi devono apparire nell'ordine indicato.
    -->
    <xs:complexType name="UtenteType">
        <xs:sequence>

            <!-- "nome": stringa tra 1 e 50 caratteri, non può essere vuota -->
            <xs:element name="nome">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>  <!-- almeno 1 carattere -->
                        <xs:maxLength value="50"/> <!-- massimo 50 caratteri -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <!-- "email": usa il tipo EmailType definito sopra con validazione pattern -->
            <xs:element name="email" type="EmailType"/>

            <!-- "password_hash": usa il tipo PasswordHashType, forza l'hash SHA-256 -->
            <xs:element name="password_hash" type="PasswordHashType"/>

            <!--
                "data_registrazione": tipo xs:date nativo di XSD.
                Accetta solo il formato ISO 8601: YYYY-MM-DD (es. 2024-01-15).
                XSD verifica automaticamente che sia una data valida.
            -->
            <xs:element name="data_registrazione" type="xs:date"/>

        </xs:sequence>

        <!-- Attributo "id": obbligatorio (use="required"), deve rispettare il pattern U+2cifre -->
        <xs:attribute name="id" type="UtenteIdType" use="required"/>

    </xs:complexType>

    <!--
        ELEMENTO RADICE: utenti
        Contiene una sequenza di uno o più elementi "utente".
        minOccurs="1" = almeno un utente deve essere presente.
        maxOccurs="unbounded" = non c'è limite massimo al numero di utenti.
    -->
    <xs:element name="utenti">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="utente" type="UtenteType"
                            minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <!--
            VINCOLO DI UNICITÀ: utenteIdUnico
            Garantisce che non esistano due utenti con lo stesso attributo "id".
            xs:selector punta agli elementi "utente" figli di "utenti".
            xs:field indica quale campo deve essere unico (l'attributo @id).
        -->
        <xs:unique name="utenteIdUnico">
            <xs:selector xpath="utente"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <!--
            VINCOLO DI UNICITÀ: emailUnica
            Garantisce che non esistano due utenti con la stessa email.
            Questo previene la registrazione doppia con lo stesso indirizzo.
        -->
        <xs:unique name="emailUnica">
            <xs:selector xpath="utente"/>
            <xs:field xpath="email"/>
        </xs:unique>

    </xs:element>

</xs:schema>
