xml/utenti.dtd

<!--
    ============================================================
    DTD - Document Type Definition
    File:    utenti.dtd
    Scopo:   Validazione strutturale del file utenti.xml
    Progetto: Piattaforma Streaming
    ============================================================
-->

<!-- Elemento radice "utenti": deve contenere almeno un elemento "utente" (il + indica uno o più) -->
<!ELEMENT utenti (utente+)>

<!-- Elemento "utente": sequenza ordinata di 4 sotto-elementi obbligatori -->
<!ELEMENT utente (
    nome,
    email,
    password_hash,
    data_registrazione
)>

<!-- Attributo "id" dell'utente: tipo ID garantisce unicità nel documento, è obbligatorio (#REQUIRED) -->
<!ATTLIST utente
    id ID #REQUIRED
>

<!-- "nome": testo libero (#PCDATA = Parsed Character Data) -->
<!ELEMENT nome               (#PCDATA)>

<!-- "email": testo libero, usato come username per il login -->
<!ELEMENT email              (#PCDATA)>

<!-- "password_hash": testo libero che conterrà l'hash SHA-256 della password -->
<!ELEMENT password_hash      (#PCDATA)>

<!-- "data_registrazione": testo libero che rappresenta la data nel formato YYYY-MM-DD -->
<!ELEMENT data_registrazione (#PCDATA)>
